<ion-header>
  <ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-button (click)="back()">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>View Profile</ion-title>
	</ion-toolbar>

</ion-header>



<ion-content>	
  <div style="margin-top: 30px;"><ion-label style="margin: 15px;color:#014eb6;font-size: large;"><b> Profile</b></ion-label></div>
  <ion-list *ngIf="user != undefined">
    <ion-item>
      <ion-label><b>First Name: </b></ion-label>
      {{user.first_name}}
    </ion-item>

    <ion-item>
      <ion-label><b>Last Name: </b></ion-label>
      {{user.last_name}}
    </ion-item>

    <ion-item>
      <ion-label><b>Gender: </b></ion-label>
      {{user.gender}}
    </ion-item>

    <ion-item>
      <ion-label><b>Faculty: </b></ion-label>
      {{user.faculty}}
    </ion-item>

    <ion-item>
      <ion-label><b>Major: </b></ion-label>
      {{user.major}}
    </ion-item>

    <ion-item>
      <ion-label><b>Birth Date: </b></ion-label>
      {{user.birth_date}}
    </ion-item>
  </ion-list>

  <div style="text-align: center;margin: 10px;" *ngIf="user != undefined">
			<ion-button (click)="updateProfile()" expand="full">
				<ion-icon slot="start" name="create"></ion-icon>
				Update Profile
			</ion-button>
	</div>

  <div *ngIf="resultSuccess == true" style="color: blue;">
    {{message}}
  </div>

  <div *ngIf="resultError == true" style="color: red;">
    {{message}}
  </div>

  <div style="margin-top: 30px;"><ion-label style="margin: 15px;color:#014eb6;font-size: large;"><b> Credit Card</b></ion-label></div>
  <ion-list *ngIf="hasCreditCard">
    <ion-item>
      <ion-label><b>Name on Card: </b></ion-label>
      {{creditCard.name}}
    </ion-item>

    <ion-item>
      <ion-label><b>Card Number: </b></ion-label>
      {{creditCard.card_number}}
    </ion-item>

    <ion-item>
      <ion-label><b>CVV: </b></ion-label>
      {{creditCard.cvv}}
    </ion-item>

    <ion-item>
      <ion-label><b>Expiry Date: </b></ion-label>
      {{creditCard.expiry_date}}
    </ion-item>
  </ion-list>

  <div style="text-align: center;margin: 10px;" *ngIf="hasCreditCard">
			<ion-button (click)="deleteCreditCard()"expand="full"> 
				<ion-icon slot="start" name="create"></ion-icon>
				Delete Credit Card
			</ion-button>
    </div>

  <div style="text-align: center;margin: 10px;" *ngIf="!hasCreditCard">
			<ion-button (click)="updateCreditCard()" expand="full">
				<ion-icon slot="start" name="create"></ion-icon>
				Add Credit Card
			</ion-button>
    </div>

  <div style="margin-top: 30px;"><ion-label style="margin: 15px;color:#014eb6;font-size: large;"><b> Tags</b></ion-label></div>

  <ion-list>
    <ion-item expand="full" *ngFor="let tag of tags">  
      {{tag.tag_name}}
    </ion-item>
  </ion-list>

  <div style="text-align: center;margin: 10px;" *ngIf="user != undefined">
			<ion-button (click)="updateTag()" expand="full">
				<ion-icon slot="start" name="create"></ion-icon>
				Update Tags
			</ion-button>
	</div>

</ion-content>
