<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Answer Survey
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="retrieveSurveyError == false && surveyToView != null" #answerSurveyForm="ngForm"
    (ngSubmit)="update(answerSurveyForm)">
    <ion-card *ngIf="retrieveSurveyError == false && surveyToView != null">
      <ion-list>
        <ion-item *ngFor="let questionWrapper of surveyToView.questionWrappers">
          <ion-grid>
            <ion-row *ngIf ="questionWrapper.hasImage">
              <ion-img src="http://localhost:8080/Nusurvey-war/uploadedFiles/{{questionWrapper.imgPath}}" style="width: 200px; height: 200px; margin:10px"></ion-img>
            </ion-row>
            <ion-row>
              <ion-label>{{questionWrapper.question.title}}</ion-label>
            </ion-row>
            <ion-row>
              <ion-list *ngIf="questionWrapper.question.mcq">
                <ion-radio-group
                  [(ngModel)]="questionWrapper.answerWrappers[questionWrapper.answerWrappers.length-1].multipleChoiceAnswer.optionChosenString"
                  name="{{questionWrapper.answerWrappers[questionWrapper.answerWrappers.length-1].multipleChoiceAnswer}}">
                  <ion-item *ngFor="let option of questionWrapper.mcq" lines="none">
                    <ion-label>{{option.content}}</ion-label>
                    <ion-radio slot="start" value="{{option.content}}" (ionSelect)="select(option)">
                    </ion-radio>
                  </ion-item>
                </ion-radio-group>
              </ion-list>
              <ion-list *ngIf="questionWrapper.question.checkbox">
                <ion-item *ngFor="let option of questionWrapper.checkbox">
                  <ion-label>{{option.content}}</ion-label>
                  <ion-checkbox slot="end" [(ngModel)]="option.isSelected" name="{{option}}"></ion-checkbox>
                </ion-item>
              </ion-list>
            </ion-row>
            <ion-item *ngIf="questionWrapper.question.slider">
              <ion-range min="{{questionWrapper.slider.minRange}}" max="{{questionWrapper.slider.maxRange}}" pin
                [(ngModel)]="questionWrapper.answerWrappers[questionWrapper.answerWrappers.length-1].sliderAnswer.answerValue"
                name="{{questionWrapper.answerWrappers[questionWrapper.answerWrappers.length-1].sliderAnswer}}">
                <ion-label slot="start">{{questionWrapper.slider.minRange}}</ion-label>
                <ion-label slot="end">{{questionWrapper.slider.maxRange}}</ion-label>
              </ion-range>
            </ion-item>
            <div>
              <ion-item *ngIf="questionWrapper.question.text">
                <ion-label>{{questionWrapper.text.text}}</ion-label>
                <ion-textarea placeholder="Enter more information here..." [(ngModel)]="questionWrapper.answerWrappers[questionWrapper.answerWrappers.length-1].textAnswer.answerText"
                name="{{questionWrapper.answerWrappers[questionWrapper.answerWrappers.length-1].textAnswer}}"></ion-textarea>
              </ion-item>
            </div>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-button type="submit" ion-button block expand="full" style="text-transform:none!important; margin: 10px">
      Submit Answer
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2021 IS3106.</ion-title>
  </ion-toolbar>
</ion-footer>