<ion-header>
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-button (click)="back()">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Update Tags</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-list>
	<ion-item>
		<ion-item>
            <ion-label fixed>Tags</ion-label>
            <ion-select *ngFor="let tag of original_Tags; let i = index" id="tagId" name="tag_name" [(ngModel)]="selected_Tags[i]" required="true" #selected_Tags="ngModel"
              multiple="true">
              <ion-select-option *ngFor="let tag of original_Tags; let i = index" value="{{original_Tags[i].tag_name}}">{{original_Tags[i].tag_name}}</ion-select-option>
            </ion-select>
          </ion-item>

	  </ion-item>
	</ion-list>
	<ion-card style="text-align: center;" *ngIf="user != undefined">
		<ion-card-content>
			<ion-button (click)="updateTag()">
				<ion-icon slot="start" name="create"></ion-icon>
				Update Tags
			</ion-button>
		</ion-card-content>
	</ion-card>
</ion-content>
