<ion-header>
  <ion-toolbar color="secondary">
		<ion-buttons slot="start">
			<ion-button (click)="back()">
				<ion-icon slot="start" name="arrow-back"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>Update Tags</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<ion-list>
	<ion-item>
		<ion-item>
            <ion-label>Tags</ion-label>
            <ion-select [(ngModel)]="selected_Tags" multiple="true">
              <ion-select-option *ngFor="let tag of original_Tags" [value]="tag.name">{{tag.tag_name}}</ion-select-option>
            </ion-select>
          </ion-item>

	  </ion-item>
	</ion-list>
	<div style="text-align: center;margin: 10px;" *ngIf="user != undefined">
			<ion-button (click)="updateTag()" expand="full">
				<ion-icon slot="start" name="create"></ion-icon>
				Update Tags
			</ion-button>
		</div>
</ion-content>
