<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="sessionService.getIsLogin() == false">
    <ion-card-header>
      <ion-card-title>Welcome to NUS Survey</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Please login or register to start answering surveys!</p>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="sessionService.getIsLogin() == true">
    <ion-card-header>
      <ion-card-title>Search</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Surveys here</p>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="sessionService.getIsLogin() == true">
    <ion-button expand="full" *ngFor="let survey of recommendedSurveys" class="surveyButton"  (click)="viewSurveyDetails($event, survey)" style="text-transform:none!important;white-space: pre-line;">
      {{survey.title}}
      <br /><br />
      Created by {{survey.creator.first_name}} {{survey.creator.last_name}} 
      <br /><br />
      Earn ${{survey.reward}}
    </ion-button>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>&copy; 2021 IS3106.</ion-title>
  </ion-toolbar>
</ion-footer>